/* 改变主题色变量 */


/*$--color-primary: teal;*/


/* 改变 icon 字体路径变量，必需 */

$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

/*   全局样式   */

// ======================================================text
.text-danger {
    color: #F56C6C;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

// ======================================================height / width
.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}

// ======================================================padding
@for $i from 0 to 100 {
    .p-#{$i} {
        padding: #{$i}px;
    }
}

@for $i from 0 to 100 {
    .pt-#{$i} {
        padding-top: #{$i}px;
    }
}

@for $i from 0 to 100 {
    .pb-#{$i} {
        padding-bottom: #{$i}px;
    }
}

@for $i from 0 to 100 {
    .pl-#{$i} {
        padding-left: #{$i}px;
    }
}

@for $i from 0 to 100 {
    .pr-#{$i} {
        padding-right: #{$i}px;
    }
}

// ======================================================margin
@for $i from 0 to 100 {
    .m-#{$i} {
        margin: #{$i}px;
    }
}

@for $i from 0 to 100 {
    .mt-#{$i} {
        margin-top: #{$i}px;
    }
}

@for $i from 0 to 100 {
    .mb-#{$i} {
        margin-bottom: #{$i}px;
    }
}

@for $i from 0 to 100 {
    .ml-#{$i} {
        margin-left: #{$i}px;
    }
}

@for $i from 0 to 100 {
    .mr-#{$i} {
        margin-right: #{$i}px;
    }
}