// Login.vue
.login {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('../assets/images/login3.jpg') no-repeat;
    background-size: cover;
    .login-modal {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000000;
        margin: 0 auto;
        opacity: 0.2;
    }
    .login-container {
        position: absolute;
        width: 30rem;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        .login-title {
            padding: 20px;
            font-size: 25px;
            font-weight: 500;
        }
        .form-title {
            text-align: left;
        }
        .login-btn {
            margin: 50px 0;
            button {
                width: 100%;
            }
        }
        .login-input {
            margin: 30px 0;
            input {
                font-size: 16px;
                padding: 8px 0;
                height: 40px;
                width: 100%;
                border-radius: 0;
                border: none;
                border-bottom: 1px solid #303133;
                -webkit-box-shadow: inset 0 0 0 1000px #fff;
                box-shadow: inset 0 0 0 1000px #fff;
                outline: none;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                font-weight: 200;
            }
            input:focus {
                border-bottom-color: #409EFF;
                -webkit-box-shadow: inset 0 0 0 1000px #fff;
                box-shadow: inset 0 0 0 1000px #fff;
            }
        }
        button {
            padding: 12px 20px;
            font-size: 16px;
        }
    }
    @media (max-width: 720px) {
        .login-container {
            width: 100%;
        }
    }
}

//Main.Vue
.main {
    height: 100vh;
    overflow: hidden;
    // 上部分 头
    .main-header {
        padding: 0;
        z-index: 1;
        .main-header-color {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0;
            .main-header-left,
            .main-header-right {
                width: 50%;
                height: 100%;
                line-height: 60px;
                .logo {
                    font-size: 18px;
                    font-weight: 500;
                }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    li {
                        display: inline-block;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        padding: 0 15px;
                        cursor: pointer;
                        height: 100%;
                    }
                    li:hover {
                        background: rgba(243, 246, 248, .2);
                    }
                    [class^="el-icon-"],
                    [class*=" el-icon-"],
                    i {
                        font-size: 20px;
                    }
                     :hover {
                        background: none;
                    }
                }
            }
            .main-header-left {
                float: left;
            }
            .main-header-right {
                float: right;
                ul {
                    li {
                        float: right;
                    }
                }
            }
            @media (max-width: 720px) {
                .main-header-left {
                    width: 80%;
                }
                .main-header-right {
                    width: auto;
                    .main-login {
                        display: block;
                    }
                    ul {
                        display: none;
                    }
                }
            }
            @media (min-width: 720px) {
                .main-header-right {
                    .main-login {
                        display: none;
                    }
                    ul {
                        display: block;
                    }
                }
            }
        }
        .main-header-color-1 {
            background: linear-gradient(90deg, #1d42ab, #2173dc, #1e93ff, #409EFF);
            color: #ffffff;
            -moz-box-shadow: 0px 3px 8px #909399;
            -webkit-box-shadow: 0px 3px 8px #909399;
            box-shadow: 0px 3px 8px #909399;
            .el-dropdown-link {
                color: #ffffff;
            }
        }
        .main-header-color-2 {
            background: #ffffff;
            color: rgb(48, 49, 51);
            -moz-box-shadow: 0px 3px 8px #909399;
            -webkit-box-shadow: 0px 3px 8px #909399;
            box-shadow: 0px 3px 8px #909399;
        }
        .main-header-color-3 {
            background: #000000;
            color: #fff;
            -moz-box-shadow: 0px 3px 8px #909399;
            -webkit-box-shadow: 0px 3px 8px #909399;
            box-shadow: 0px 3px 8px #909399;
            .el-dropdown-link {
                color: #ffffff;
            }
        }
    }
    // 下部分
    .main-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        .main-aside {
            -moz-box-shadow: 5px 5px 10px #DCDFE6;
            -webkit-box-shadow: 5px 5px 10px #DCDFE6;
            box-shadow: 5px 5px 10px #DCDFE6;
            z-index: 2;
            margin-left: 0;
            height: calc(100vh - 60px);
            .main-menu {
                border: 0;
                margin-top: 10px;
            }
        }
        .main-aside-color-1 {
            background: #ffffff;
        }
        .main-aside-color-2 {
            background: #545c64;
        }
        .main-aside-220 {
            width: 220px;
            animation: all 5s;
            -moz-animation: all 5s;
            /* Firefox */
            -webkit-animation: all 5s;
            /* Safari 和 Chrome */
            -o-animation: all 5s;
            /* Opera */
        }
        .main-aside-0 {
            animation: all 5s;
            -moz-animation: all 5s;
            /* Firefox */
            -webkit-animation: all 5s;
            /* Safari 和 Chrome */
            -o-animation: all 5s;
            /* Opera */
        }
        @media (max-width: 720px) {
            .main-aside-220 {
                margin-left: 0px;
            }
            .main-aside-0 {
                margin-left: -220px;
                width: 220px;
            }
        }
        .main-main {
            overflow: hidden;
            width: 100%;
            height: 100%;
            background: #f0f2f5;
            padding: 0;
            display: flex;
            flex-direction: column;
            .main-body {
                // flex: 1;
                overflow: hidden;
                overflow-y: auto;
                padding: 20px;
                height: calc(100vh - 140px);
            }
            .main-tabs {
                position: relative;
                display: block;
                width: 100%;
                height: 40px;
                line-height: 40px;
                overflow: hidden;
                background: #ffffff;
                color: #C0C4CC;
                //box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
                ul {
                    position: relative;
                    left: 0;
                    top: 0;
                    list-style: none;
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    font-size: 14px;
                    li {
                        width: 200px;
                        height: 100%;
                        float: left;
                        text-align: center;
                        cursor: pointer;
                        i {
                            display: none;
                            position: relative;
                            right: -50px;
                        }
                    }
                    .active {
                        background: #f0f2f5;
                    }
                    .active,
                    li:hover {
                        color: #409EFF;
                        font-weight: 500;
                    }
                    li:hover {
                        i {
                            color: #F56C6C;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

// 防止 抽屉控件 弹出是 出现 横向滚动条
.el-drawer__container {
    overflow: hidden !important;
}

// 皮肤
.main-Skin {
    width: 100%;
    height: 40px;
    padding: 10px 0;
    cursor: pointer;
    // 头部颜色
    .main-Skin-header-color-1 {
        background: linear-gradient(90deg, #1d42ab, #2173dc, #1e93ff, #409EFF);
        color: #ffffff;
        -moz-box-shadow: 0px 3px 8px #909399;
        -webkit-box-shadow: 0px 3px 8px #909399;
        box-shadow: 0px 3px 8px #909399;
        width: 100%;
        height: 100%;
    }
    .main-Skin-header-color-2 {
        background: #ffffff;
        color: rgb(48, 49, 51);
        -moz-box-shadow: 0px 3px 8px #909399;
        -webkit-box-shadow: 0px 3px 8px #909399;
        box-shadow: 0px 3px 8px #909399;
        width: 100%;
        height: 100%;
    }
    .main-Skin-header-color-3 {
        background: #000000;
        color: #fff;
        -moz-box-shadow: 0px 3px 8px #909399;
        -webkit-box-shadow: 0px 3px 8px #909399;
        box-shadow: 0px 3px 8px #909399;
        width: 100%;
        height: 100%;
    }
    // 菜单颜色
    .main-Skin-menu-color-1 {
        background: #ffffff;
        color: rgb(48, 49, 51);
        -moz-box-shadow: 0px 3px 8px #909399;
        -webkit-box-shadow: 0px 3px 8px #909399;
        box-shadow: 0px 3px 8px #909399;
        width: 100%;
        height: 100%;
    }
    .main-Skin-menu-color-2 {
        background: #545c64;
        color: #fff;
        -moz-box-shadow: 0px 3px 8px #909399;
        -webkit-box-shadow: 0px 3px 8px #909399;
        box-shadow: 0px 3px 8px #909399;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 920px) {
    .hzy-w90 {
        width: 95% !important;
    }
}

//表单
.form-drawer__content {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 25px;
    .form-drawer__footer {
        height: 60px;
        line-height: 60px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }
}