<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Admin</name>
    </assembly>
    <members>
        <member name="T:Admin.AppService.ApiCheckTokenFilterAttribute">
            <summary>
            Action 拦截验证授权码
            </summary>
        </member>
        <member name="P:Admin.AppService.ApiCheckTokenFilterAttribute.Ignore">
            <summary>
            忽略本特性
            </summary>
        </member>
        <member name="M:Admin.AppService.ApiCheckTokenFilterAttribute.OnActionExecuting(Microsoft.AspNetCore.Mvc.Filters.ActionExecutingContext)">
            <summary>
            每次请求Action之前发生，，在行为方法执行前执行
            </summary>
            <param name="context"></param>
        </member>
        <member name="T:Admin.AppService.AppExceptionFilter">
            <summary>
            异常过滤器
            </summary>
        </member>
        <member name="T:Admin.AppService.SwaggerParameterFilter">
            <summary>
            swagger 设置默认参数
            </summary>
        </member>
        <member name="P:Admin.Controllers.Admin.AdminBaseController._Account">
            <summary>
            账户
            </summary>
        </member>
        <member name="P:Admin.Controllers.Admin.AdminBaseController.FormKey">
            <summary>
            表单标识
            </summary>
        </member>
        <member name="M:Admin.Controllers.Admin.AdminBaseController.FormCollectionToHashtable(Microsoft.AspNetCore.Http.IFormCollection)">
            <summary>
            将  FormCollection  转换为  Dictionary
            </summary>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.AdminBaseController.DataSourceAsync(System.Int32,System.Int32,System.Collections.Hashtable)">
            <summary>
            数据源
            </summary>
            <param name="Page"></param>
            <param name="Rows"></param>
            <param name="Search"></param>
            <returns></returns>
        </member>
        <member name="T:Admin.Controllers.Admin.AuthorizationController">
            <summary>
            授权 获取 token
            </summary>
        </member>
        <member name="M:Admin.Controllers.Admin.AuthorizationController.Check(System.String,System.String,System.String)">
            <summary>
            检查帐户并获取 token
            </summary>
            <param name="UserName">用户名称</param>
            <param name="UserPassword">用户密码</param>
            <param name="LoginCode">验证码(不填)</param>
            <returns></returns>
        </member>
        <member name="T:Admin.Controllers.Admin.Base.MemberController">
            <summary>
            会员管理
            </summary>
        </member>
        <member name="M:Admin.Controllers.Admin.Base.MemberController.DataSourceAsync(System.Int32,System.Int32,System.Collections.Hashtable)">
            <summary>
            数据源
            </summary>
            <param name="Page"></param>
            <param name="Rows"></param>
            <param name="Search"></param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Base.MemberController.FindList(System.Int32,System.Int32,Microsoft.AspNetCore.Http.IFormCollection)">
            <summary>
            查询列表
            </summary>
            <param name="Page">页码</param>
            <param name="Rows">每页显示多少条</param>
            <param name="_IFormCollection">参数</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Base.MemberController.Save(Entitys.Member,Microsoft.AspNetCore.Http.IFormFile,System.Collections.Generic.List{Microsoft.AspNetCore.Http.IFormFile})">
            <summary>
            保存
            </summary>
            <param name="model"></param>
            <param name="Member_Photo_Files"></param>
            <param name="Member_FilePath_Files"></param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Base.MemberController.Delete(System.Collections.Generic.List{System.Guid})">
            <summary>
            移除数据
            </summary>
            <param name="Id">Id集合</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Base.MemberController.LoadForm(System.Nullable{System.Guid})">
            <summary>
            加载表单
            </summary>
            <param name="Id">主表Id</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.AppLogController.DataSourceAsync(System.Int32,System.Int32,System.Collections.Hashtable)">
            <summary>
            数据源
            </summary>
            <param name="Page"></param>
            <param name="Rows"></param>
            <param name="Search"></param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.AppLogController.FindList(System.Int32,System.Int32,Microsoft.AspNetCore.Http.IFormCollection,System.Collections.Generic.List{System.DateTime})">
            <summary>
            查询列表
            </summary>
            <param name="Page">页码</param>
            <param name="Rows">每页显示多少条</param>
            <param name="_IFormCollection">参数</param>
            <param name="AppLog_CreateTime">创建时间</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.AppLogController.Delete(System.Collections.Generic.List{System.Guid})">
            <summary>
            移除数据
            </summary>
            <param name="Id">Id集合</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.AppLogController.LoadForm(System.Nullable{System.Guid})">
            <summary>
            加载表单
            </summary>
            <param name="Id">主表Id</param>
            <returns></returns>
        </member>
        <member name="T:Admin.Controllers.Admin.Sys.FunctionController">
            <summary>
            功能管理
            </summary>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.FunctionController.DataSourceAsync(System.Int32,System.Int32,System.Collections.Hashtable)">
            <summary>
            数据源
            </summary>
            <param name="Page"></param>
            <param name="Rows"></param>
            <param name="Search"></param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.FunctionController.FindList(System.Int32,System.Int32,Microsoft.AspNetCore.Http.IFormCollection)">
            <summary>
            查询列表
            </summary>
            <param name="Page">页码</param>
            <param name="Rows">每页显示多少条</param>
            <param name="_IFormCollection">参数</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.FunctionController.Save(Entitys.SysClass.Sys_Function)">
            <summary>
            保存
            </summary>
            <param name="model"></param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.FunctionController.Delete(System.Collections.Generic.List{System.Guid})">
            <summary>
            移除数据
            </summary>
            <param name="Id">Id集合</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.FunctionController.LoadForm(System.Nullable{System.Guid})">
            <summary>
            加载表单
            </summary>
            <param name="Id">主表Id</param>
            <returns></returns>
        </member>
        <member name="T:Admin.Controllers.Admin.Sys.MenusController">
            <summary>
            菜单管理
            </summary>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.MenusController.DataSourceAsync(System.Int32,System.Int32,System.Collections.Hashtable)">
            <summary>
            数据源
            </summary>
            <param name="Page"></param>
            <param name="Rows"></param>
            <param name="Search"></param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.MenusController.FindList(System.Int32,System.Int32,Microsoft.AspNetCore.Http.IFormCollection)">
            <summary>
            查询列表
            </summary>
            <param name="Page">页码</param>
            <param name="Rows">每页显示多少条</param>
            <param name="_IFormCollection">参数</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.MenusController.Save(Entitys.SysClass.Sys_Menu,System.Collections.Generic.List{System.Guid})">
            <summary>
            保存
            </summary>
            <param name="model"></param>
            <param name="FunctionIds">菜单功能集合</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.MenusController.Delete(System.Collections.Generic.List{System.Guid})">
            <summary>
            移除数据
            </summary>
            <param name="Id">Id集合</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.MenusController.LoadForm(System.Nullable{System.Guid})">
            <summary>
            加载表单
            </summary>
            <param name="Id">主表Id</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.MenusController.SysTree">
            <summary>
            获取菜单列表 以及 页面按钮权限
            </summary>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.MenusController.Tree">
            <summary>
            获取菜单功能树
            </summary>
            <returns></returns>
        </member>
        <member name="T:Admin.Controllers.Admin.Sys.RoleController">
            <summary>
            角色管理
            </summary>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.RoleController.DataSourceAsync(System.Int32,System.Int32,System.Collections.Hashtable)">
            <summary>
            数据源
            </summary>
            <param name="Page"></param>
            <param name="Rows"></param>
            <param name="Search"></param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.RoleController.FindList(System.Int32,System.Int32,Microsoft.AspNetCore.Http.IFormCollection)">
            <summary>
            查询列表
            </summary>
            <param name="Page">页码</param>
            <param name="Rows">每页显示多少条</param>
            <param name="_IFormCollection">参数</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.RoleController.Save(Entitys.SysClass.Sys_Role)">
            <summary>
            保存
            </summary>
            <param name="model"></param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.RoleController.Delete(System.Collections.Generic.List{System.Guid})">
            <summary>
            移除数据
            </summary>
            <param name="Id">Id集合</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.RoleController.LoadForm(System.Nullable{System.Guid})">
            <summary>
            加载表单
            </summary>
            <param name="Id">主表Id</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.RoleFunctionController.DataSourceAsync(System.Int32,System.Int32,System.Collections.Hashtable)">
            <summary>
            数据源
            </summary>
            <param name="Page"></param>
            <param name="Rows"></param>
            <param name="Search"></param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.RoleFunctionController.FindList(System.Int32,System.Int32,Microsoft.AspNetCore.Http.IFormCollection)">
            <summary>
            查询列表
            </summary>
            <param name="Page">页码</param>
            <param name="Rows">每页显示多少条</param>
            <param name="_IFormCollection">参数</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.RoleFunctionController.Save(System.Guid,System.Guid,System.Collections.Generic.List{System.Guid})">
            <summary>
            保存
            </summary>
            <param name="RoleId"></param>
            <param name="MenuId"></param>
            <param name="FunctionIds"></param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.RoleFunctionController.Tree(System.Guid)">
            <summary>
            获取菜单功能树
            </summary>
            <returns></returns>
        </member>
        <member name="T:Admin.Controllers.Admin.Sys.UserController">
            <summary>
            用户管理
            </summary>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.UserController.DataSourceAsync(System.Int32,System.Int32,System.Collections.Hashtable)">
            <summary>
            数据源
            </summary>
            <param name="Page"></param>
            <param name="Rows"></param>
            <param name="Search"></param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.UserController.FindList(System.Int32,System.Int32,Microsoft.AspNetCore.Http.IFormCollection)">
            <summary>
            查询列表
            </summary>
            <param name="Page">页码</param>
            <param name="Rows">每页显示多少条</param>
            <param name="_IFormCollection">参数</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.UserController.Save(Entitys.SysClass.Sys_User,System.Collections.Generic.List{System.Guid})">
            <summary>
            保存
            </summary>
            <param name="model"></param>
            <param name="RoleIds">角色Id</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.UserController.Delete(System.Collections.Generic.List{System.Guid})">
            <summary>
            移除数据
            </summary>
            <param name="Id">Id集合</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.UserController.LoadForm(System.Nullable{System.Guid})">
            <summary>
            加载表单
            </summary>
            <param name="Id">主表Id</param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.UserController.GetPowerState(System.Guid)">
            <summary>
            获取用户权限
            </summary>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.Admin.Sys.UserController.UpdatePassword(System.String,System.String)">
            <summary>
            更新密码
            </summary>
            <param name="OldPwd"></param>
            <param name="NewPwd"></param>
            <returns></returns>
        </member>
        <member name="P:Admin.Controllers.ApiBaseController.db">
            <summary>
            数据访问对象
            </summary>
        </member>
        <member name="M:Admin.Controllers.ApiBaseController.Json">
            <summary>
            返回成功
            </summary>
            <returns>{status:1}</returns>
        </member>
        <member name="M:Admin.Controllers.ApiBaseController.Json(System.Object)">
            <summary>
            返回成功
            </summary>
            <param name="Data"></param>
            <returns>Data</returns>
        </member>
        <member name="M:Admin.Controllers.ApiBaseController.HandleUpFile(Microsoft.AspNetCore.Http.IFormFile,System.String,System.String[],System.String,System.Action{Microsoft.AspNetCore.Http.IFormFile})">
            <summary>
            处理上传文件
            </summary>
            <param name="_IFormFile"></param>
            <param name="_WebRootPath"></param>
            <param name="Format"></param>
            <param name="GroupName"></param>
            <param name="Check"></param>
            <returns></returns>
        </member>
        <member name="T:Admin.Controllers.UploadController">
            <summary>
            上传文件
            </summary>
        </member>
        <member name="M:Admin.Controllers.UploadController.Post(Microsoft.AspNetCore.Http.IFormFile,System.String)">
            <summary>
            上传单个文件
            </summary>
            <param name="files"></param>
            <param name="GroupName"></param>
            <returns></returns>
        </member>
        <member name="M:Admin.Controllers.UploadController.Post1(Microsoft.AspNetCore.Http.IFormFileCollection,System.String)">
            <summary>
            上传多个文件
            </summary>
            <param name="files"></param>
            <param name="GroupName"></param>
            <returns></returns>
        </member>
    </members>
</doc>
